<div>
    <div class="grid">
        <div>
            <label for="modifier"> {{localize "ffg-star-wars-utilities.damage-helper.dialog.modifier"}} </label>
            <input name="modifier" id="modifier" type="text" placeholder="{{modifier}}" value="{{modifier}}"
                data-dtype="String" />
        </div>
    </div>
    <div>
            <label for="crittable">{{localize "ffg-star-wars-utilities.damage-helper.dialog.rollTable"}}</label>
            <select name="crittable" id="crittable">{{{tables}}}</select>
        </div>
</div>